openapi: 3.1.0
info:
  title: API für IQB-CodingService
  version: '0.1.0'
  description: |
    Der Coding-Service ist ein Teil der [TBA-Architektur](https://iqb-berlin.github.io/tba-info) 
    für die Kodierung und die Datenanalyse von Lernstandserhebungen. Es werden Konfigurationsdaten 
    hochgeladen und dann pro Request die Kodierung und Analyse EINER Testperson geliefert.
  contact:
    name: Tech Support
    email: iqb-tbadev-support@hu-berlin.de
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://www.iqb-codingservice.de/
    description: Beispiel

tags:
  - name: admin
    description: Verwaltung von Arbeitsbereichen
  - name: manage-content
    description: Hochladen/Löschen von Survey Content
  - name: evaluate
    description: Testergebnisse kodieren und analysieren

paths:
  /ws-admin:
    put:
      tags:
        - admin
      summary: Anlegen Arbeitsbereich
      description: Ein neuer Arbeitsbereich wird angelegt
      operationId: putWorkspace
      requestBody:
        description: Name des neuen Arbeitsbereiches
        required: true
        content:
          text/plain:
            schema:
              type: string
            example: "VERA2027-Pilotierung"
      responses:
        '200':
          description: Arbeitsbereich angelegt
          content:
            text/plain:
              schema:
                type: number
              example: 365
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /ws-admin/{workspaceId}:
    patch:
      tags:
        - admin
      summary: Umbenennen Arbeitsbereich
      description: Ein Arbeitsbereich wird umbenannt
      operationId: patchWorkspace
      parameters:
         - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        description: Neuer Name des Arbeitsbereiches
        required: true
        content:
          text/plain:
            schema:
              type: string
            example: "VERA2027-Haupterhebung"

      responses:
        '200':
          description: Arbeitsbereich angelegt
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
        - admin
      summary: Allgemeine Daten des Arbeitsbereiches werden abgefragt.
      description: Abruf von Name,
      operationId: getWorkspaceInfo
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: Workspace-Info erfolgreich abgerufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /ws-admin/{workspaceId}/upload-content:
    post:
      tags:
        - manage-content
      summary: Hochladen von Survey Content
      description: |
        In einem Arbeitsbereich sind alle Informationen gespeichert, die für die Datenanalyse und Kodierung erforderlich 
        sind. Diese Datenstrukturen sind als Dateien verfügbar.
      operationId: uploadSurveyContent
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                contentAsFile:
                  type: string
                  description: file
                  required: true

      responses:
        '200':
          description: Daten hochgeladen
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /ws-admin/{workspaceId}/delete-content:
    delete:
      tags:
        - manage-content
      summary: Löschen von Survey Content
      description: |
        In einem Arbeitsbereich sind alle Informationen gespeichert, die für die Datenanalyse und Kodierung erforderlich 
        sind. Diese Datenstrukturen sind als Dateien verfügbar.
      operationId: uploadSurveyContent
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object

      responses:
        '200':
          description: Daten löschen
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /evaluate/{workspaceId}:
    post:
      tags:
        - evaluate
      summary: Kodieren und analysieren der Daten einer Testperson
      description: |
        Die Definitionen, die in einem Arbeitsbereich hinterlegt sind, werden auf die Antworten der Testperson 
        angewendet. Es werden Antworten kodiert und anschließend Fähigkeitswerte ermittelt. Die Daten der Person
        werden nicht gespeichert, d. h. bei einem späteren Aufruf müssen wieder alle Antworten übermittelt werden.
      operationId: evaluateResponses
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Workspace-Info erfolgreich abgerufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationOutput'

        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1
        example: 354
      description: Eindeutige Kennung für den Arbeitsbereich

  schemas:
    # Response Wrappers
    WorkspaceInfo:
      type: object
      properties:
        name:
          type: string
        numberOfUnits:
          type: integer
          format: int64
        numberOfBooklets:
          type: integer
          format: int64
      required: [name, numberOfUnits, numberOfBooklets]

    EvaluationOutput:
      type: object

    # Error Models
    Error:
      type: object
      properties:
        code:
          type: string
          description: Fehlercode für programmatische Behandlung
        message:
          type: string
          description: Menschenlesbare Fehlermeldung
        details:
          type: object
          description: Zusätzliche Fehlerdetails
      required: [code, message]

  responses:
    BadRequest:
      description: Ungültige Anfrageparameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: |
            {
            "code": "INVALID_PARAMETER",
            "message": "Der Parameter 'Name des neuen Arbeitsbereiches' ist erforderlich"
            }

    Forbidden:
      description: Zugriff verweigert - unzureichende Berechtigungen
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: |
            {
            "code": "ACCESS_DENIED",
            "message": "Sie haben keine Berechtigung für den Zugriff auf diese Ressource"
            }

    NotFound:
      description: Ressource nicht gefunden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: |
            {
            "code": "RESOURCE_NOT_FOUND",
            "message": "Unit mit ID 12345 nicht gefunden"
            }

    InternalError:
      description: Interner Serverfehler
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: |
            {
            "code": "INTERNAL_ERROR",
            "message": "Ein unerwarteter Fehler ist aufgetreten"
            }

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
